    </main>
    <footer class="footer">
        <div class="container">
            <p>&copy; 2026 AuthApp. All rights reserved.</p>
        </div>
    </footer>
    <script src="/js/main.js"></script>
</body>
</html>
